%section.container
%h1= "Dashboard"
%p
  %li= link_to t('.menu',day: 'Test Day'), menu_path(1) , class: "btn btn-primary btn-sm mt-10"
  %li= link_to t('.home'), home_path, class: "btn btn-primary btn-sm mt-10"
